Repository liatrio/tag-o11y-quick-start-manifests, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github_actions, make

chore: remove comments
  Makefile
Labels: make

fix: add ui button for deleting token
  apps/eck/Tiltfile
Labels: none

chore: making commands more legible
  apps/eck/Tiltfile
  collectors/gateway-eck/Tiltfile
Labels: none

fix: refactor for using tilt to start basic stack (#38)
  Makefile
  README.md
  TiltFile
  apps/default/Tiltfile
  apps/default/kustomization.yaml
  apps/default/localized.yaml
  apps/eck/Tiltfile
  cluster-infra/cert-manager/Tiltfile
  cluster-infra/cert-manager/kustomization.yaml
  cluster-infra/cert-manager/localized.yaml
  cluster-infra/eck-operator/Tiltfile
  cluster-infra/eck-operator/kustomization.yaml
  cluster-infra/eck-operator/localized.yaml
  cluster-infra/jaeger-operator/Tiltfile
  cluster-infra/jaeger-operator/kustomization.yaml
  cluster-infra/jaeger-operator/localized.yaml
  cluster-infra/otel-operator/Tiltfile
  cluster-infra/otel-operator/kustomization.yaml
  cluster-infra/otel-operator/localized.yaml
  collectors/base/kustomization.yaml
  collectors/base/rbac.yaml
  collectors/base/sa.yaml
  collectors/gateway-eck/Tiltfile
  collectors/gateway-eck/colconfig.yaml
  collectors/gateway-eck/kustomization.yaml
  collectors/gateway/Tiltfile
  collectors/gateway/kustomization.yaml
Labels: documentation, make

fix(loki): set labels to default resource attributes
  apps/default/loki/config.yaml
Labels: none

feat: update github webhook receiver with customer properties and attrs
  collectors/webhook/colconfig.yaml
Labels: none

fix: update default make to use tilt-basic
  README.md
Labels: documentation

fix: update default make to use tilt-basic
  Makefile
Labels: make

fix: update default make to use tilt-basic
  Makefile
Labels: make

fix: update default make to use tilt-basic (#40)
  Makefile
  README.md
Labels: documentation, make

chore(docs): add gateway collector brief overview
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

chore(docs): add gateway collector brief overview
  README.md
Labels: documentation

Apply suggestions from code review
  README.md
Labels: documentation

chore(docs): add gateway collector brief overview (#41)
  README.md
Labels: documentation

chore(deps): update otel operator to v0.111.0
  Makefile
  cluster-infra/otel-operator/kustomization.yaml
  cluster-infra/otel-operator/localized.yaml
Labels: make

chore(deps): update otel operator to v0.111.0 (#42)
  Makefile
  cluster-infra/otel-operator/kustomization.yaml
  cluster-infra/otel-operator/localized.yaml
Labels: make

fix(gateway): update collector and healthcheck
  apps/default/localized.yaml
  collectors/base/collector.yaml
  collectors/gateway/colconfig.yaml
Labels: none

fix(gateway): update collector and health check (#43)
  apps/default/localized.yaml
  collectors/base/collector.yaml
  collectors/gateway/colconfig.yaml
Labels: none

feat: add argo workflows and fix gateways
  Makefile
  apps/argocd/Makefile
  apps/argocd/Tiltfile
  apps/argocd/kustomization.yaml
  apps/argocd/ns.yaml
  apps/default/Makefile
  apps/default/Tiltfile
  apps/default/kustomization.yaml
  apps/default/localized.yaml
  collectors/gateway/Tiltfile
Labels: make

feat(webhook): add tiltfile for webhook collector
  apps/default/Tiltfile
  apps/default/grafana/datasources.yaml
  apps/default/loki/deployment.yaml
  collectors/webhook/Tiltfile
  collectors/webhook/colconfig.yaml
  collectors/webhook/kustomization.yaml
Labels: none

Update README.md
  README.md
Labels: documentation

chore: docs
  README.md
Labels: documentation

fix(githubreceiver): update github reciever with OTel changes
  collectors/githubreceiver/colconfig.yaml
Labels: none

fix(githubreceiver): disable healthcheck in collector
  collectors/githubreceiver/colconfig.yaml
Labels: none

fix(githubreceiver): fix formatting on extensions
  collectors/githubreceiver/colconfig.yaml
Labels: none

fix(githubreceiver): update github receiver with OTel changes (#47)
  collectors/githubreceiver/colconfig.yaml
Labels: none

fix: Test supporting kind in addition to k3d
  Makefile
  apps/Tiltfile
  apps/argocd/Tiltfile
  apps/eck/Tiltfile
  apps/jaeger/Tiltfile
  apps/lgtm/Tiltfile
  collectors/webhook/Tiltfile
Labels: make

fix: Got some syntax wrong in the tiltfile
  Makefile
  apps/Tiltfile
  apps/argocd/Tiltfile
  apps/eck/Tiltfile
  apps/jaeger/Tiltfile
  apps/lgtm/Tiltfile
  collectors/webhook/Tiltfile
Labels: make

feat: update collector to v0.78.2 and update dora transformations
  collectors/base/collector.yaml
  collectors/webhook/colconfig.yaml
Labels: none

fix: arm64 image
  collectors/base/collector.yaml
Labels: none

created EL5 level script and instructions
  github-pat-readme.md
  gitlab-pat-readme.md
  quickstart-prereq-readme.md
  quickstart-prereq-setup
Labels: documentation

chore: otel-collector to 0.82.0
  collectors/base/collector.yaml
Labels: none

changes to make GitLab work
  Makefile
  apps/Tiltfile
  collectors/base/collector.yaml
  collectors/gitlabreceiver/Tiltfile
  collectors/gitlabreceiver/colconfig.yaml
  collectors/gitlabreceiver/kustomization.yaml
Labels: make

fixing issues for grafana usage
  apps/lgtm/Tiltfile
  apps/lgtm/grafana/kustomization.yaml
  apps/lgtm/kustomization.yaml
  apps/lgtm/loki/kustomization.yaml
  apps/lgtm/prometheus/kustomization.yaml
  apps/lgtm/tempo/kustomization.yaml
Labels: none

another fix for grafana
  collectors/gateway/colconfig.yaml
Labels: none

fix: fix dashboard, prom config on gateway, and other configs
  apps/lgtm/grafana/dashboards/dora/dora-metrics.json
  apps/lgtm/grafana/dashboards/dora/vcs-trunk-based-development.json
  apps/lgtm/grafana/dashboards/gpr/delivery-metrics.json
  apps/lgtm/grafana/dashboards/gpr/vcs-trunk-based-development.json
  apps/lgtm/grafana/dashboards/providers.yaml
  apps/lgtm/grafana/deployment.yaml
  apps/lgtm/grafana/kustomization.yaml
  collectors/base/collector.yaml
  collectors/gateway/colconfig.yaml
  collectors/gitlabreceiver/colconfig.yaml
Labels: none

.github/labeler.yml:

---
# Add 'documentation' label to any change to *.md files
documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

# Add 'github_actions' label to any change .github/ directory
github_actions:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Add 'build' to any config files or makefiles
make:
  - changed-files:
      - any-glob-to-any-file: '**/Makefile*'
