Repository liatrio/tag-o11y-quick-start-manifests, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github_actions, make

.github/labeler.yml:

---
# Add 'documentation' label to any change to *.md files
documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

# Add 'github_actions' label to any change .github/ directory
github_actions:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Add 'build' to any config files or makefiles
make:
  - changed-files:
      - any-glob-to-any-file: '**/Makefile*'

fix: update order for otel resources
  TiltFile
Labels: none

fix: cleaned up makefile targets and tiltfile
  Makefile
  README.md
  TiltFile
  k3d.sh
Labels: documentation, make

docs: updated wording for tilt
  README.md
Labels: documentation

docs: updated wording for tilt
  README.md
Labels: documentation

docs: updated wording for tilt
  README.md
Labels: documentation

fix: added resource labels to Tiltfile
  Makefile
  TiltFile
  k3d.sh
Labels: make

fix: added tilt tap to brewfile
  Brewfile
Labels: none

chore: add k3d to Brewfile
  Brewfile
Labels: none

fix: remove tilt destroy target
  Makefile
  README.md
Labels: documentation, make

fix: Update Brewfile
  Brewfile
Labels: none

feat: adding tilt (#32)
  Brewfile
  Makefile
  README.md
  TiltFile
  content/tilt_detail.png
  content/tilt_table.png
Labels: documentation, make

chore(docs): fixed typo in GPR readme
  README.md
Labels: documentation

feat: add ghr collector
  Makefile
  README.md
  collectors/base/collector.yaml
  collectors/githubreceiver/colconfig.yaml
  collectors/githubreceiver/kustomization.yaml
Labels: documentation, make

feat: add ghr collector
  collectors/githubreceiver/colconfig.yaml
Labels: none

feat: add ghr collector
  collectors/githubreceiver/kustomization.yaml
Labels: none

feat: add github receiver collector (#33)
  Makefile
  README.md
  collectors/base/collector.yaml
  collectors/githubreceiver/colconfig.yaml
  collectors/githubreceiver/kustomization.yaml
Labels: documentation, make

feat: add vcs trunk based development dashboard
  apps/default/grafana/dashboards/gpr/vcs-trunk-based-development.json
  apps/default/grafana/deployment.yaml
  apps/default/grafana/kustomization.yaml
  collectors/githubreceiver/colconfig.yaml
Labels: none

chore: remove unused dashboards
  apps/default/grafana/deployment.yaml
  apps/default/grafana/kustomization.yaml
Labels: none

feat: add vcs trunk based dashboard (#34)
  apps/default/grafana/dashboards/gpr/vcs-trunk-based-development.json
  apps/default/grafana/deployment.yaml
  apps/default/grafana/kustomization.yaml
  collectors/githubreceiver/colconfig.yaml
Labels: none

fix: disable dashboard with faulty mountPath
  apps/default/grafana/deployment.yaml
Labels: none

fix: disable dashboard with faulty mountPath (#35)
  apps/default/grafana/deployment.yaml
Labels: none

fix: remove broken volume mount
  apps/default/grafana/deployment.yaml
Labels: none

fix: remove broken volume mount (#36)
  apps/default/grafana/deployment.yaml
Labels: none

testing
  .github/workflows/integration-test.yml
Labels: github_actions

test
  .github/workflows/integration-test.yml
Labels: github_actions

test
  .github/workflows/integration-test.yml
Labels: github_actions

trying out integration
  .github/workflows/integration-test.yml
Labels: github_actions

test
  .github/workflows/integration-test.yml
Labels: github_actions

test
  .github/workflows/integration-test.yml
Labels: github_actions

test
  .github/workflows/integration-test.yml
Labels: github_actions

test ghr
  .github/workflows/integration-test.yml
Labels: github_actions

dora test
  .github/workflows/build-test.yml
Labels: github_actions

test pr
  .github/workflows/build-test.yml
Labels: github_actions

test dora in prs
  .github/workflows/build-test.yml
Labels: github_actions

test traces
  .github/workflows/build-test.yml
Labels: github_actions

fix: refactor for using tilt to start basic stack
  Makefile
  README.md
  TiltFile
  apps/default/Tiltfile
  apps/default/kustomization.yaml
  apps/default/localized.yaml
  cluster-infra/cert-manager/Tiltfile
  cluster-infra/cert-manager/kustomization.yaml
  cluster-infra/cert-manager/localized.yaml
  cluster-infra/jaeger-operator/Tiltfile
  cluster-infra/jaeger-operator/kustomization.yaml
  cluster-infra/jaeger-operator/localized.yaml
  cluster-infra/otel-operator/Tiltfile
  cluster-infra/otel-operator/kustomization.yaml
  cluster-infra/otel-operator/localized.yaml
  collectors/gateway/Tiltfile
Labels: documentation, make

fix: revert back to make tilt-up
  Makefile
  README.md
Labels: documentation, make

fix: remove extra deployment of collector from default target
  Makefile
Labels: make

feat: add ability to spin up eck stack
  apps/eck/Tiltfile
  cluster-infra/eck-operator/Tiltfile
  cluster-infra/eck-operator/kustomization.yaml
  cluster-infra/eck-operator/localized.yaml
  collectors/base/kustomization.yaml
  collectors/base/rbac.yaml
  collectors/base/sa.yaml
  collectors/gateway-eck/Tiltfile
  collectors/gateway-eck/colconfig.yaml
  collectors/gateway-eck/kustomization.yaml
  collectors/gateway/kustomization.yaml
Labels: none

fix: add logic for spinning up eck stack
  Makefile
  README.md
  apps/default/Tiltfile
  apps/eck/Tiltfile
Labels: documentation, make
