Repository liatrio/tag-o11y-quick-start-manifests, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github_actions, make

.github/labeler.yml:

---
# Add 'documentation' label to any change to *.md files
documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

# Add 'github_actions' label to any change .github/ directory
github_actions:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Add 'build' to any config files or makefiles
make:
  - changed-files:
      - any-glob-to-any-file: '**/Makefile*'

fix: bump collector version and add gitlab example
  collectors/base/collector.yaml
  collectors/gitproviderreceiver/colconfig.yaml
Labels: none

fix: formatting the README.md
  README.md
Labels: documentation

fix: change github-pat to git-pat to remain generic
  collectors/gitproviderreceiver/kustomization.yaml
Labels: none

fix: override default grafana.ini file and setup comments for gitlab config
  apps/default/grafana/deployment.yaml
  apps/default/grafana/grafana.ini
  collectors/gitproviderreceiver/colconfig.yaml
Labels: none

chore: update collector and loki configurations
  apps/default/loki/config.yaml
  collectors/base/collector.yaml
  collectors/webhook/colconfig.yaml
  collectors/webhook/kustomization.yaml
Labels: none

fix: fix trace exporter to tempo port
  collectors/gateway/colconfig.yaml
Labels: none

fix(temporary): drop backstage spans from dev due to burst limit protection
  collectors/gateway/colconfig.yaml
Labels: none

Revert "fix(temporary): drop backstage spans from dev due to burst limit protection"
  collectors/gateway/colconfig.yaml
Labels: none

feat: add jaeger to quick starts
  Makefile
  apps/default/jaeger/deployment.yaml
  apps/default/jaeger/kustomization.yaml
  apps/default/kustomization.yaml
  cluster-infra/jaeger-operator/kustomization.yaml
  collectors/gateway/colconfig.yaml
Labels: make

fix: fix endpoint for jaeger exporter
  collectors/gateway/colconfig.yaml
Labels: none

chore: rename deployment to jaeger
  apps/default/jaeger/jaeger.yaml
  apps/default/jaeger/kustomization.yaml
Labels: none

feat: add jaeger to quick starts (#23)
  Makefile
  apps/default/jaeger/jaeger.yaml
  apps/default/jaeger/kustomization.yaml
  apps/default/kustomization.yaml
  cluster-infra/jaeger-operator/kustomization.yaml
  collectors/gateway/colconfig.yaml
Labels: make

feat: add github action receiver
  Makefile
  README.md
  collectors/githubactionevents/colconfig.yaml
  collectors/githubactionevents/kustomization.yaml
  collectors/githubactionevents/ngrok-route.yaml
  collectors/githubactionevents/sa.yaml
Labels: documentation, make

chore: added note to replace with hostname
  collectors/githubactionevents/ngrok-route.yaml
Labels: none

chore: corrected read me url ref
  README.md
Labels: documentation

wip
  apps/default/loki/config.yaml
  apps/default/loki/deployment.yaml
  collectors/gateway/colconfig.yaml
Labels: none

feat: update loki to v3 for native support
  apps/default/loki/config.yaml
  apps/default/loki/deployment.yaml
Labels: none

Update loki attributes to be structured metadata
  apps/default/loki/config.yaml
  collectors/gateway/colconfig.yaml
  collectors/webhook/colconfig.yaml
Labels: none

Removal of resource and log attribute conversion to loki labels
  apps/default/loki/config.yaml
  collectors/webhook/colconfig.yaml
Labels: none

refactor: revert changes to webhook from ETLS
  collectors/webhook/colconfig.yaml
Labels: none

refactor: revert changes to webhook from ETLS
  collectors/webhook/colconfig.yaml
Labels: none

revert(loki): removing loki settings for storing historical data
  apps/default/loki/config.yaml
Labels: none

refactor(loki): change to otlphttp for native OTEL injestion for Loki (#27)
  apps/default/loki/config.yaml
  apps/default/loki/deployment.yaml
  collectors/gateway/colconfig.yaml
  collectors/webhook/colconfig.yaml
Labels: none

feat(transfoms): set log attributes as resource attributes
  apps/default/loki/config.yaml
  collectors/webhook/colconfig.yaml
Labels: none

fix: bump version of liatrio otel collecor and otel operatator
  cluster-infra/otel-operator/kustomization.yaml
  collectors/base/collector.yaml
Labels: none

fix: updated configs to be patched in using kustomize
  collectors/gateway-eck/colconfig.yaml
  collectors/gateway-eck/kustomization.yaml
  collectors/gateway/colconfig.yaml
  collectors/gateway/kustomization.yaml
  collectors/gitproviderreceiver/colconfig.yaml
  collectors/gitproviderreceiver/kustomization.yaml
  collectors/webhook/colconfig.yaml
  collectors/webhook/kustomization.yaml
Labels: none

fix: syntax for empty maps
  collectors/gitproviderreceiver/colconfig.yaml
Labels: none

fix: update OTEL Operator CRD to v1beta1 (#28)
  cluster-infra/otel-operator/kustomization.yaml
  collectors/base/collector.yaml
  collectors/gateway-eck/colconfig.yaml
  collectors/gateway-eck/kustomization.yaml
  collectors/gateway/colconfig.yaml
  collectors/gateway/kustomization.yaml
  collectors/gitproviderreceiver/colconfig.yaml
  collectors/gitproviderreceiver/kustomization.yaml
  collectors/webhook/colconfig.yaml
  collectors/webhook/kustomization.yaml
Labels: none

fix: Updates the way secrets are generated and passed into the gitproviderreceiver collector.
  README.md
  collectors/base/collector.yaml
  collectors/gitproviderreceiver/colconfig.yaml
  collectors/gitproviderreceiver/kustomization.yaml
Labels: documentation

chore: fixed up docs
  README.md
Labels: documentation

fix: Updates the way secrets are generated and passed into the gitpro… (#29)
  README.md
  collectors/base/collector.yaml
  collectors/gitproviderreceiver/colconfig.yaml
  collectors/gitproviderreceiver/kustomization.yaml
Labels: documentation

fix: container config error with gateway
  collectors/base/collector.yaml
  collectors/gateway-eck/colconfig.yaml
  collectors/gitproviderreceiver/colconfig.yaml
Labels: none

fix: container config error with gateway (#30)
  collectors/base/collector.yaml
  collectors/gateway-eck/colconfig.yaml
  collectors/gitproviderreceiver/colconfig.yaml
Labels: none

feat: adding the ability to use tilt
  Makefile
  TiltFile
  cluster-infra/cert-manager/helm-chart.yaml
  cluster-infra/cert-manager/helm/helmfile.yaml
  cluster-infra/cert-manager/kustomization.yaml
  k3d.sh
Labels: make

docs: adding documentation surrounding tilt
  README.md
  content/tilt_detail.png
  content/tilt_table.png
Labels: documentation

feat: add scripts to tear down and restart resources
  Makefile
  README.md
  scripts/tag-o11y-rollback.sh
Labels: documentation, make

fix: make k3d cluster creation less noisy
  Makefile
  k3d.sh
Labels: make

fix: remove helmfile config
  TiltFile
  cluster-infra/cert-manager/helm-chart.yaml
  cluster-infra/cert-manager/helm/helmfile.yaml
  cluster-infra/cert-manager/kustomization.yaml
Labels: none

docs: remove the helm and helmfile refs
  README.md
Labels: documentation

fix: breakout the otel collector resource
  TiltFile
Labels: none
