Repository liatrio/tag-o11y-quick-start-manifests, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github_actions, make

.github/labeler.yml:

---
# Add 'documentation' label to any change to *.md files
documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

# Add 'github_actions' label to any change .github/ directory
github_actions:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Add 'build' to any config files or makefiles
make:
  - changed-files:
      - any-glob-to-any-file: '**/Makefile*'

docs: adding ADO related docs
  README.md
  apps/Tiltfile
  azuredevops-dashboard-readme.md
  azuredevops-pat-readme.md
Labels: documentation

Add helpers and more detail to README for GitHub setup
  Makefile
  README.md
  scripts/setup-github.sh
  scripts/setup.sh
Labels: documentation, make

feat: Align README instructions for setup with quickstart, split GitHub and GitLab setup
  Makefile
  README.md
  quickstart-prereq-readme.md
  quickstart-prereq-setup.sh
  scripts/setup-gitlab.sh
  scripts/setup.sh
Labels: documentation, make

feat: Add option to use `make deploy-github` and `make deploy-gitlab`
  Makefile
  README.md
  quickstart-prereq-readme.md
  scripts/setup-github.sh
  scripts/setup-gitlab.sh
  scripts/setup.sh
Labels: documentation, make

Updates per CodeRabbit review
  README.md
  scripts/setup-github.sh
  scripts/setup-gitlab.sh
  scripts/setup.sh
Labels: documentation

chore: README cleanup
  README.md
Labels: documentation

fix: broken link
  README.md
Labels: documentation

feat: adding a simple deployment dashboard and updating the vcs dashboard
  README.md
  apps/lgtm/grafana/dashboards/dora/ado-dora-metrics-simple.json
  apps/lgtm/grafana/dashboards/dora/vcs-trunk-based-development-ado.json
  apps/lgtm/grafana/datasources.yaml
  apps/lgtm/grafana/deployment.yaml
  apps/lgtm/grafana/kustomization.yaml
  azuredevops-dashboard-readme.md
  collectors/azuredevopsreceiver/.env.example
  collectors/azuredevopsreceiver/colconfig.yaml
Labels: documentation

feat: adding new work item and deployment dashboards, updating docs
  README.md
  apps/lgtm/grafana/dashboards/dora/ado-work-items.json
  apps/lgtm/grafana/dashboards/dora/vcs-trunk-based-development-ado.json
  apps/lgtm/grafana/deployment.yaml
  apps/lgtm/grafana/kustomization.yaml
  azuredevops-dashboard-readme.md
  azuredevops-pat-readme.md
  collectors/azuredevopsreceiver/.env.example
  collectors/azuredevopsreceiver/colconfig.yaml
Labels: documentation

fix: updating descriptions for boards to include what the query is
  apps/lgtm/grafana/dashboards/dora/ado-dora-metrics-simple.json
  apps/lgtm/grafana/dashboards/dora/ado-work-items.json
  apps/lgtm/grafana/dashboards/dora/vcs-trunk-based-development-ado.json
  collectors/azuredevopsreceiver/.env.example
Labels: none

fix: updating colconfig for ado receiver, updating image for base, updating descriptions for dashboards panels
  apps/lgtm/grafana/dashboards/dora/ado-dora-metrics-simple.json
  apps/lgtm/grafana/dashboards/dora/ado-work-items.json
  apps/lgtm/grafana/dashboards/dora/vcs-trunk-based-development-ado.json
  collectors/azuredevopsreceiver/colconfig.yaml
  collectors/base/collector.yaml
Labels: none

feat: Ado collector and dashboards (#55)
  README.md
  apps/Tiltfile
  apps/lgtm/Tiltfile
  apps/lgtm/grafana/dashboards/dora/ado-dora-metrics-simple.json
  apps/lgtm/grafana/dashboards/dora/ado-work-items.json
  apps/lgtm/grafana/dashboards/dora/vcs-trunk-based-development-ado.json
  apps/lgtm/grafana/datasources.yaml
  apps/lgtm/grafana/deployment.yaml
  apps/lgtm/grafana/kustomization.yaml
  azuredevops-dashboard-readme.md
  azuredevops-pat-readme.md
  collectors/azuredevopsreceiver/.env.example
  collectors/azuredevopsreceiver/Tiltfile
  collectors/azuredevopsreceiver/colconfig.yaml
  collectors/azuredevopsreceiver/kustomization.yaml
  collectors/base/collector.yaml
Labels: documentation

feat: moving grafana ado boards into their own folder
  apps/lgtm/grafana/dashboards/dora/ado-dora-metrics-simple.json
  apps/lgtm/grafana/dashboards/dora/ado-work-items.json
  apps/lgtm/grafana/dashboards/dora/vcs-trunk-based-development-ado.json
  apps/lgtm/grafana/dashboards/providers.yaml
  apps/lgtm/grafana/deployment.yaml
  apps/lgtm/grafana/kustomization.yaml
Labels: none

feat: adding dashboards....
  apps/lgtm/grafana/dashboards/ado/ado-deployments.json
  apps/lgtm/grafana/dashboards/ado/ado-vcs-metrics.json
  apps/lgtm/grafana/dashboards/ado/ado-work-items.json
Labels: none

chore: removing reference to gitlab
  apps/lgtm/grafana/deployment.yaml
  apps/lgtm/grafana/kustomization.yaml
Labels: none

feat: moving grafana ado boards into their own folder (#57)
  apps/lgtm/grafana/dashboards/ado/ado-deployments.json
  apps/lgtm/grafana/dashboards/ado/ado-vcs-metrics.json
  apps/lgtm/grafana/dashboards/ado/ado-work-items.json
  apps/lgtm/grafana/dashboards/providers.yaml
  apps/lgtm/grafana/deployment.yaml
  apps/lgtm/grafana/kustomization.yaml
Labels: none

chore: bump the base collector version to latest from liatrio fork
  collectors/base/collector.yaml
Labels: none

fix: Fixes makefile so to leverage partial tiltfiles making things like 'make ghr' just work
  Makefile
Labels: make

fix: Completly remove clickhouse from base config since it was partially removed in ADO reciever work and now is breaking the collector
  collectors/gateway/colconfig.yaml
Labels: none

feat: add support for bootstrapping open observe with dashboards and a skeleton engineering effectiveness dashboard
  apps/openobserve/Tiltfile
  apps/openobserve/dashboard-bootstrap-job.yaml
  apps/openobserve/dashboards/engineering-effectiveness.dashboard.json
  apps/openobserve/kustomization.yaml
  apps/openobserve/secret.yaml
  apps/openobserve/sts.yaml
Labels: none

chore: add readme for managing dashboard
  apps/openobserve/README.md
Labels: documentation

chore: update readme to callout _why_ we have a hack for bootstrapping
  apps/openobserve/README.md
Labels: documentation
