Repository liatrio/tag-o11y-quick-start-manifests, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github_actions, make

Feat: adding in eck collector and ingress for eck stack
  Makefile
  apps/eck/ingress.yaml
  apps/eck/k3dconfig.yaml
  apps/eck/kustomization.yaml
  collectors/gateway-eck/colconfig.yaml
  collectors/gateway-eck/kustomization.yaml
  scripts/copy-adm-secret.sh
Labels: make

fix: old dashboard was out of date
  apps/default/grafana/dashboards/gpr/engineering-effectiveness-metrics.json
Labels: none

fix: update operator kustomize ifle
  cluster-infra/eck-operator/kustomization.yaml
Labels: none

fix: remove bash script in place of inline kubectl command to copy secret
  Makefile
  scripts/copy-adm-secret.sh
Labels: make

chore: remove unused files
  cluster-infra/eck-operator/helm-chart.yaml
  cluster-infra/eck-operator/helmfile.yaml
  cluster-infra/eck-operator/values.yaml
Labels: none

Fix: remuove sleep and use wait on CRD
  Makefile
Labels: make

feat: adding tracing demo to new structure
  Makefile
  README.md
  apps/traces/grafana/dashboards/demo/opentofu-controller-demo.json
  apps/traces/grafana/dashboards/providers.yaml
  apps/traces/grafana/datasources.yaml
  apps/traces/grafana/deployment.yaml
  apps/traces/grafana/grafana.ini
  apps/traces/grafana/kustomization.yaml
  apps/traces/grafana/pvc.yaml
  apps/traces/grafana/service.yaml
  apps/traces/kustomization.yaml
  apps/traces/prometheus/config.yaml
  apps/traces/prometheus/deployment.yaml
  apps/traces/prometheus/kustomization.yaml
  apps/traces/prometheus/rbac.yaml
  apps/traces/prometheus/service.yaml
  apps/traces/tempo/config.yaml
  apps/traces/tempo/deployment.yaml
  apps/traces/tempo/kustomization.yaml
  apps/traces/tempo/service.yaml
  cluster-infra/tofu-controller/deployment.yml
  cluster-infra/tofu-controller/kustomization.yaml
  cluster-infra/tofu-controller/source_control.yml
  cluster-infra/tofu-controller/terraform1.yml
  cluster-infra/tofu-controller/terraform2.yml
  cluster-infra/tofu-controller/terraform3.yml
  gateway-collector/overlays/local-traces/grafana/grafana.yaml
  gateway-collector/overlays/local-traces/grafana/kustomization.yaml
Labels: documentation, make

feat: updated dashboard to fix inconsistencies/filter out non-applied resources
  apps/traces/grafana/dashboards/demo/opentofu-controller-demo.json
Labels: none

updated dashboard
  apps/traces/grafana/dashboards/demo/opentofu-controller-demo.json
Labels: none

feat: updated traces dashboard with team
  apps/traces/grafana/dashboards/demo/opentofu-controller-demo.json
Labels: none

Added Brewfile to project
  .gitignore
  Brewfile
  README.md
Labels: documentation

fix: issue with paths
  apps/default/grafana/kustomization.yaml
  apps/default/kustomization.yaml
  apps/default/loki/kustomization.yaml
  apps/default/prometheus/kustomization.yaml
  apps/default/tempo/kustomization.yaml
Labels: none

fix: issue with paths (#17)
  apps/default/grafana/kustomization.yaml
  apps/default/kustomization.yaml
  apps/default/loki/kustomization.yaml
  apps/default/prometheus/kustomization.yaml
  apps/default/tempo/kustomization.yaml
Labels: none

feat: new dashboard, new example terraform
  apps/traces/grafana/dashboards/demo/opentofu-controller-demo.json
  cluster-infra/tofu-controller/deployment.yml
  cluster-infra/tofu-controller/kustomization.yaml
  cluster-infra/tofu-controller/terraform3.yml
  cluster-infra/tofu-controller/terraform4.yml
Labels: none

feat: updated tofu versions to latest ghcr version
  cluster-infra/tofu-controller/deployment.yml
Labels: none

Update opentofu-controller-demo.json
  apps/traces/grafana/dashboards/demo/opentofu-controller-demo.json
Labels: none

updated runner image
  cluster-infra/tofu-controller/deployment.yml
Labels: none

chore: add brewfile (#16)
  .gitignore
  Brewfile
  README.md
Labels: documentation

fix: updating old apply-traces option for new repo structure
  Makefile
Labels: make

feat: upgraded tofu-controller, updated makefile and readme
  Makefile
  README.md
  cluster-infra/tofu-controller/deployment.yml
  cluster-infra/tofu-controller/terraform1.yml
  cluster-infra/tofu-controller/terraform2.yml
  cluster-infra/tofu-controller/terraform3.yml
Labels: documentation, make

fix: deleting old version of traces deployment
  collectors/gateway/overlays/local-traces/colconfig.yaml
  collectors/gateway/overlays/local-traces/grafana/grafana.ini
  collectors/gateway/overlays/local-traces/grafana/grafana.yaml
  collectors/gateway/overlays/local-traces/grafana/kustomization.yaml
  collectors/gateway/overlays/local-traces/grafana/provisioning/dashboards/demo.yaml
  collectors/gateway/overlays/local-traces/grafana/provisioning/datasources/default.yaml
  collectors/gateway/overlays/local-traces/grafana/provisioning/datasources/loki.yaml
  collectors/gateway/overlays/local-traces/grafana/provisioning/datasources/tempo.yaml
  collectors/gateway/overlays/local-traces/kustomization.yaml
  collectors/gateway/overlays/local-traces/tofu-controller/deployment.yml
  collectors/gateway/overlays/local-traces/tofu-controller/kustomization.yaml
  collectors/gateway/overlays/local-traces/tofu-controller/source_control.yml
  collectors/gateway/overlays/local-traces/tofu-controller/terraform.yml
Labels: none

fix: deleting other older versions of configuration
  gateway-collector/overlays/local-traces/grafana/grafana.yaml
  gateway-collector/overlays/local-traces/grafana/kustomization.yaml
  gateway-collector/overlays/local-traces/grafana/provisioning/dashboards/demo/opentofu-controller-demo.json
  gateway-collector/overlays/local/grafana/grafana.yaml
  gateway-collector/overlays/local/grafana/kustomization.yaml
  gateway-collector/overlays/local/grafana/provisioning/dashboards/demo/engineering-effectiveness-metrics.json
Labels: none

docs: from-scratch instructions for demo
  README.md
  content/all_pods.png
  content/dashboard.png
  content/flux_system_pods.png
  content/grafana_pod.png
  content/namespaces.png
  content/portforwarding.png
Labels: documentation

docs: new picture
  content/all_pods.png
Labels: none

docs: spacing
  README.md
Labels: documentation

docs: agnostic wording for install
  README.md
Labels: documentation

docs: adding devops days logo, link to it at top of readme
  README.md
  content/logo.png
Labels: documentation

docs: moving some stuff around
  README.md
  content/logo.png
  content/logo3.png
Labels: documentation

docs: moving around, adding pictures
  README.md
  content/source.png
  content/terraform.png
Labels: documentation

docs: spelling
  README.md
Labels: documentation

docs: adding line breaks and tabs
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

fix: fix git provider receiver dashboard
  apps/default/grafana/dashboards/gpr/engineering-effectiveness-metrics.json
Labels: none

docs: added reference to opentofu and controller
  README.md
Labels: documentation

docs: resizing pictures
  README.md
Labels: documentation

docs: added instructions for setting up demo (#18)
  README.md
  content/all_pods.png
  content/dashboard.png
  content/flux_system_pods.png
  content/grafana_pod.png
  content/logo.png
  content/logo3.png
  content/namespaces.png
  content/portforwarding.png
  content/source.png
  content/terraform.png
Labels: documentation

docs: fixing alert in readme
  README.md
Labels: documentation

Create LICENSE
  LICENSE
Labels: none

docs: move DevOpsDays note to front of README
  README.md
Labels: documentation

docs: move DevOpsDays note to front of README (#19)
  README.md
Labels: documentation

.github/labeler.yml:

---
# Add 'documentation' label to any change to *.md files
documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

# Add 'github_actions' label to any change .github/ directory
github_actions:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Add 'build' to any config files or makefiles
make:
  - changed-files:
      - any-glob-to-any-file: '**/Makefile*'
