Repository liatrio/tag-o11y-quick-start-manifests, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github_actions, make

.github/labeler.yml:

---
# Add 'documentation' label to any change to *.md files
documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

# Add 'github_actions' label to any change .github/ directory
github_actions:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Add 'build' to any config files or makefiles
make:
  - changed-files:
      - any-glob-to-any-file: '**/Makefile*'

fix: add github receiver configuration
  apps/Tiltfile
  collectors/githubreceiver/Tiltfile
  collectors/githubreceiver/colconfig.yaml
  collectors/githubreceiver/kustomization.yaml
  collectors/gitproviderreceiver/colconfig.yaml
  collectors/gitproviderreceiver/kustomization.yaml
Labels: none

docs: adds howto for gitlab metrics.
  collectors/gitlabreceiver/setup-guide.md
Labels: documentation

fix: fixes missing metrics.
  apps/lgtm/grafana/dashboards/jersey-mikes/knowledge-silos-dashboard.json
  apps/lgtm/grafana/dashboards/jersey-mikes/merge-request-dashboard.json
  apps/lgtm/grafana/dashboards/jersey-mikes/pipeline-activity-dashboard.json
  apps/lgtm/grafana/dashboards/jersey-mikes/pipeline-optimization-dashboard.json
Labels: none

chore: fixes uid for dashboards.
  apps/lgtm/grafana/dashboards/jersey-mikes/knowledge-silos-dashboard.json
  apps/lgtm/grafana/dashboards/jersey-mikes/merge-request-dashboard.json
  apps/lgtm/grafana/dashboards/jersey-mikes/pipeline-activity-dashboard.json
  apps/lgtm/grafana/dashboards/jersey-mikes/pipeline-optimization-dashboard.json
  quickstart-prereq-readme.md
Labels: documentation

chore: removes cruft.
  apps/lgtm/grafana/dashboards/jersey-mikes/jersey-mikes-combined-dashboard.json
  apps/lgtm/grafana/dashboards/jersey-mikes/knowledge-silos-dashboard.json
  apps/lgtm/grafana/dashboards/jersey-mikes/merge-request-dashboard.json
  apps/lgtm/grafana/dashboards/jersey-mikes/pipeline-activity-dashboard.json
  apps/lgtm/grafana/dashboards/jersey-mikes/pipeline-optimization-dashboard.json
Labels: none

chore: renames files.
  apps/lgtm/grafana/dashboards/jersey-mikes/jersey-mikes-combined-dashboard.json
  apps/lgtm/grafana/dashboards/jersey-mikes/merge-request-activity-dashboard.json
  apps/lgtm/grafana/dashboards/jersey-mikes/merge-request-processing-dashboard.json
  apps/lgtm/grafana/dashboards/jersey-mikes/merge-time-optimization-dashboard.json
  apps/lgtm/grafana/deployment.yaml
  apps/lgtm/grafana/kustomization.yaml
Labels: none

fix: updates / fixes panels and their queries.
  apps/lgtm/grafana/dashboards/jersey-mikes/jersey-mikes-combined-dashboard.json
  apps/lgtm/grafana/dashboards/jersey-mikes/knowledge-silos-dashboard.json
  apps/lgtm/grafana/dashboards/jersey-mikes/merge-request-activity-dashboard.json
  apps/lgtm/grafana/dashboards/jersey-mikes/merge-request-processing-dashboard.json
  apps/lgtm/grafana/dashboards/jersey-mikes/merge-time-optimization-dashboard.json
Labels: none

fix: removes histogram bucket format for Merge Time SLO (p95 and p50) panel.
  apps/lgtm/grafana/dashboards/jersey-mikes/merge-time-optimization-dashboard.json
Labels: none

refactor: removes redundant dashboards etc.
  apps/lgtm/grafana/dashboards/jersey-mikes/consolidated-merge-metrics-dashboard.json
  apps/lgtm/grafana/dashboards/jersey-mikes/jersey-mikes-combined-dashboard.json
  apps/lgtm/grafana/dashboards/jersey-mikes/merge-request-activity-dashboard.json
  apps/lgtm/grafana/dashboards/jersey-mikes/merge-request-processing-dashboard.json
  apps/lgtm/grafana/dashboards/jersey-mikes/merge-time-optimization-dashboard.json
  apps/lgtm/grafana/kustomization.yaml
Labels: none

fix: fix vol mount.
  apps/lgtm/grafana/deployment.yaml
Labels: none

fix: renames dashboard(s).
  apps/lgtm/grafana/dashboards/jersey-mikes/merge-metrics-dashboard.json
  apps/lgtm/grafana/deployment.yaml
  apps/lgtm/grafana/kustomization.yaml
Labels: none

making some bug fixes after pairing with Natalie
  collectors/gitlabreceiver/colconfig.yaml
  quickstart-prereq-readme.md
  quickstart-prereq-setup.sh
Labels: documentation

made updates based on PR feedback from Adriel
  collectors/gitlabreceiver/colconfig.yaml
Labels: none

Delete quickstart-prereq-setup
  quickstart-prereq-setup
Labels: none

feat: update quickstarts with grafana, instructions, and gitlab (#49)
  Makefile
  apps/Tiltfile
  apps/lgtm/Tiltfile
  apps/lgtm/grafana/dashboards/dora/dora-metrics.json
  apps/lgtm/grafana/dashboards/dora/vcs-trunk-based-development.json
  apps/lgtm/grafana/dashboards/gpr/delivery-metrics.json
  apps/lgtm/grafana/dashboards/gpr/vcs-trunk-based-development.json
  apps/lgtm/grafana/dashboards/providers.yaml
  apps/lgtm/grafana/deployment.yaml
  apps/lgtm/grafana/kustomization.yaml
  apps/lgtm/kustomization.yaml
  apps/lgtm/loki/kustomization.yaml
  apps/lgtm/prometheus/kustomization.yaml
  apps/lgtm/tempo/kustomization.yaml
  collectors/base/collector.yaml
  collectors/gateway/colconfig.yaml
  collectors/githubreceiver/Tiltfile
  collectors/githubreceiver/kustomization.yaml
  collectors/gitlabreceiver/Tiltfile
  collectors/gitlabreceiver/colconfig.yaml
  collectors/gitlabreceiver/kustomization.yaml
  collectors/gitproviderreceiver/colconfig.yaml
  github-pat-readme.md
  gitlab-pat-readme.md
  quickstart-prereq-readme.md
  quickstart-prereq-setup.sh
Labels: documentation, make

chore: adds updated queries to dashboards.
  apps/lgtm/grafana/dashboards/jersey-mikes/knowledge-silos-dashboard.json
  apps/lgtm/grafana/dashboards/jersey-mikes/merge-metrics-dashboard.json
Labels: none

feat: adds sonarqube dashboard.
  apps/lgtm/grafana/dashboards/jersey-mikes/sonarqube-dashboard.json
Labels: none

chore: adds sonarqube mounts and labels.
  apps/lgtm/grafana/dashboards/jersey-mikes/sonarqube-dashboard.json
  apps/lgtm/grafana/deployment.yaml
  apps/lgtm/grafana/kustomization.yaml
Labels: none

chore: updates jm dashboards.
  apps/lgtm/grafana/dashboards/jersey-mikes/knowledge-silos-dashboard.json
  apps/lgtm/grafana/dashboards/jersey-mikes/merge-metrics-dashboard.json
  apps/lgtm/grafana/dashboards/jersey-mikes/sonarqube-dashboard.json
Labels: none

chore: updates colors to be more accessible and rewords titles.
  apps/lgtm/grafana/dashboards/jersey-mikes/knowledge-silos-dashboard.json
  apps/lgtm/grafana/dashboards/jersey-mikes/merge-metrics-dashboard.json
  apps/lgtm/grafana/dashboards/jersey-mikes/sonarqube-dashboard.json
Labels: none

refactor: consolidates jm dashboards.
  apps/lgtm/grafana/dashboards/jersey-mikes/gitlab-metrics-dashboard.json
  apps/lgtm/grafana/dashboards/jersey-mikes/merge-metrics-dashboard.json
  apps/lgtm/grafana/deployment.yaml
  apps/lgtm/grafana/kustomization.yaml
Labels: none

fix: fixes Active Branches by Repository table / query.
  apps/lgtm/grafana/dashboards/jersey-mikes/gitlab-metrics-dashboard.json
Labels: none

feat: bump version of operator to latest 127
  cluster-infra/otel-operator/kustomization.yaml
Labels: none

fix: update webhook configuration for dora metrics transforms (#50)
  collectors/webhook/colconfig.yaml
Labels: none

feat: remove localized and update otel operator and cert manager
  cluster-infra/cert-manager/kustomization.yaml
  cluster-infra/cert-manager/localized.yaml
  cluster-infra/otel-operator/kustomization.yaml
  cluster-infra/otel-operator/localized.yaml
Labels: none

feat: replaced openobserve with aspire dashboard
  README.md
  apps/Tiltfile
  apps/aspire-dashboard/Tiltfile
  apps/aspire-dashboard/aspire.yaml
  apps/aspire-dashboard/kustomization.yaml
  apps/aspire-dashboard/namespace.yaml
  apps/kustomization.yaml
  apps/openobserve/sts.yaml
Labels: documentation

chore: typo
  README.md
Labels: documentation

chore: removed hallucination variables
  apps/aspire-dashboard/aspire.yaml
Labels: none

chore: added name label to service selector
  apps/aspire-dashboard/aspire.yaml
Labels: none

chore: removed missed reference to openobserve
  README.md
Labels: documentation

chore: removed unnecessary nodeport
  apps/aspire-dashboard/aspire.yaml
Labels: none

chore: minor docs change, testing signed commit
  README.md
Labels: documentation

chore: is this commit signed?
  README.md
Labels: documentation

chore: readding readme change. testing signing
  README.md
Labels: documentation

feat: Add ClickStack to cluster
  apps/Tiltfile
  cluster-infra/clickstack/Tiltfile
  cluster-infra/clickstack/kustomization.yaml
  collectors/base/collector.yaml
  collectors/gateway/colconfig.yaml
Labels: none

fix: Pin specific chart version
  cluster-infra/clickstack/kustomization.yaml
Labels: none

fix: Remove prometheus from exporters since it isn't deployed by default
  collectors/gateway/colconfig.yaml
Labels: none

fix: Basic docs for accessing HyperDX
  README.md
Labels: documentation

feat: Add ClickStack to cluster (#53)
  README.md
  apps/Tiltfile
  cluster-infra/clickstack/Tiltfile
  cluster-infra/clickstack/kustomization.yaml
  collectors/base/collector.yaml
  collectors/gateway/colconfig.yaml
Labels: documentation

feat: adding ado collector and new grafana dashboards
  apps/Tiltfile
  apps/lgtm/Tiltfile
  apps/lgtm/grafana/dashboards/dora/vcs-trunk-based-development-ado.json
  apps/lgtm/grafana/datasources.yaml
  apps/lgtm/grafana/deployment.yaml
  apps/lgtm/grafana/kustomization.yaml
  collectors/azuredevopsreceiver/Tiltfile
  collectors/azuredevopsreceiver/colconfig.yaml
  collectors/azuredevopsreceiver/kustomization.yaml
  collectors/base/collector.yaml
Labels: none
